# Preprocessamento
---

Este notebook tem o objetivo de realizar o pré-processamento, para verificação de cada uma das _features_. Serão observados valores faltantes, tipos de dado e faixas de valores para cada uma das variáveis presentes.

No pipeline desenvolvido, este notebook é a segunda parte a ser executada, visto que a primeira foi o script de transformação do arquivo 'sales_data.tsv' para o formato parquet, localizado em `scripts/csv_to_parquet.py` na pasta raíz do projeto.

## Importação das bibliotecas necessárias

In [1]:
import pandas as pd

In [2]:
# Definição do formato em que os dados serão apresentados (duas casas após a vírgula)
pd.options.display.float_format = '{:,.2f}'.format

## Uma primeira primeira impressão dos dados

Aqui é feita a leitura do arquivo parquet para verificar, inicialmente, como os dados se parecem.

In [3]:
df = pd.read_parquet('../data/raw/sales_data.parquet')

In [4]:
df.head()

,purchase_id,product_id,affiliate_id,producer_id,buyer_id,purchase_date,product_creation_date,product_category,product_niche,purchase_value,affiliate_commission_percentual,purchase_device,purchase_origin,is_origin_page_social_network
0,0,NaN,NaN,NaN,NaN,None,None,None,None,NaN,NaN,None,None,0
1,1663958,"6,640.00","209,372.00","116,238.00","1,200,397.00",2016-06-26 12:00:00,2011-03-19 15:47:36,Video,Presentation skills,-0.27,50.00,Smart TV,Origin ef2b,"0,0"
2,1677087,"2,350.00","141,418.00","2,821.00","1,083,764.00",2016-06-26 12:00:00,2010-07-05 01:50:15,Podcast,Child psychology,-0.18,60.00,Smart TV,Origin ef2b,"0,0"
3,2017360,"35,669.00","618,642.00","618,642.00","1,436,106.00",2016-06-26 12:00:00,2012-06-13 02:59:37,Podcast,Presentation skills,-0.47,0.00,Smart TV,Origin ef2b,"0,0"
4,2017379,"57,998.00","1,164,511.00","70,388.00","1,436,118.00",2016-06-26 12:00:00,2013-05-07 08:51:31,Podcast,Anxiety management,-0.40,50.00,Smart TV,Origin ef2b,"0,0"

É possível observar que o primeiro registro da tabela tem todos valores inválidos, com _0_ ou _NaN_. Por isso, o mesmo será removido.

In [5]:
df = df.drop(0, axis=0)

A princípio, os últimos registros estão em conformidade:

In [6]:
df.tail()

,purchase_id,product_id,affiliate_id,producer_id,buyer_id,purchase_date,product_creation_date,product_category,product_niche,purchase_value,affiliate_commission_percentual,purchase_device,purchase_origin,is_origin_page_social_network
1599824,14011995,"238,362.00","7,586,641.00","7,586,641.00","5,736,172.00",2016-06-30 23:59:57,2016-06-16 12:10:46,Phisical book,Personal finance,-0.35,0.00,eReaders,Origin 3022,"0,0"
1599825,14012431,"61,279.00","589,022.00","589,022.00","946,067.00",2016-06-30 21:40:11,2013-06-15 16:41:06,Phisical book,Personal finance,-0.47,0.00,Smart TV,Origin ef2b,"0,0"
1599826,14343996,"215,242.00","1,186,145.00","1,186,145.00","6,473,172.00",2016-05-13 16:45:42,2016-03-26 17:59:47,Phisical book,Negotiation,-0.36,0.00,Smart TV,Origin ef2b,"0,0"
1599827,14344113,"215,242.00","1,186,145.00","1,186,145.00","6,473,172.00",2016-06-22 14:39:05,2016-03-26 17:59:47,Phisical book,Negotiation,-0.36,0.00,Smart TV,Origin ef2b,"0,0"
1599828,14357203,"215,242.00","1,186,145.00","1,186,145.00","6,473,172.00",2016-04-11 19:37:25,2016-03-26 17:59:47,Phisical book,Negotiation,-0.36,0.00,Tablet,Origin 3fcc,"0,0"

## Variáveis de identificação (ids)

In [10]:
df.dtypes

purchase_id                          int64
product_id                         float64
affiliate_id                       float64
producer_id                        float64
buyer_id                           float64
purchase_date                       object
product_creation_date               object
product_category                    object
product_niche                       object
purchase_value                     float64
affiliate_commission_percentual    float64
purchase_device                     object
purchase_origin                     object
is_origin_page_social_network       object
dtype: object